

.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    max-width: 1052px;
    max-height: 105px;
    margin: 92px 24px 96px 24px;
    align-items: center;
}


.header__links-list {
    display: flex;
    justify-content: space-evenly;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__address {
    padding: 5px 25.48px 2px 184px;
}

.header__logo {
    display: block;

}

.cover {
    background-image: url(../images/cover.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
    height: 757px;
    margin: 96px 0 179px 0;
}

.cover__title {
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    color: white;

}

.cover__description {

}

.bet-button {
    position: relative;


}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
    position: relative;
    margin-bottom: 27px;
    margin-left: 64px;

}

.lots__card-list {
    display: flex;
    /* flex-wrap: wrap; */
    column-gap: 25px;
    list-style: none;
    color: white;
    justify-content: space-between;
    margin: 0 24px 0 24px;
}

.lots__card-list-item {
    height: 563px;
    width: 334px;
    display: flex;
    
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.card__title {
    position: relative;
    top: 51px;
    margin: 0 40px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26.4px;
    text-transform: uppercase;
    text-decoration: underline;
    box-sizing: border-box;
}

.card__text {
    position: absolute;
    bottom: 48px;
    left: 40px;
    right: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.lots__look-more-link {
    position: relative;
    top: 30px;
    left: 64px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.48px;
}




.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.about {
    display: grid;
    grid-template-columns:334px 1fr;
    grid-template-rows: 240px auto;
    column-gap: 25px;
    margin: 146px 24px 366px 24px;
    
}

.about__logo {
    margin-top: 35px;
    height: 240px;
    width: 240px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center;

}

.about__logo-image {
    background-size: cover;
    width: 148px;
    height: 114px;

}

.about__title {
    align-self:center;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96;

}

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 180px 50px 88px 50px;
}

.footer__links-list {
    list-style: none;
}

.footer__informational-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 240px;
}

.picture {
    display: block;
    width: 48px;
    height: 48px;
}