.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    max-width: 1052px;
    max-height: 105px;
    margin: 92px 24px 96px 24px;
    align-items: center;
}


.header__links-list {
    display: flex;
    justify-content: space-evenly;
    
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__address {
    padding: 5px 25.48px 2px 184px;
}

.header__logo {
    display: block;

}

.cover {
    background-image: url(/images/cover.jpg);
    background-size: 1100px 100%;
    width: 1100px;
    height: 757px;
}

.overlay {
    display: block;
    filter: brightness(40%);
}
